header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 81px;
  border-bottom: 1px solid #9a9a9a;
  align-items: center;
  padding: 0 16px;

  @media (min-width: 600px) {
    padding: 0 40px;
  }

  .nav-logo-wrapper {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    font-weight: 700;

    img {
      margin-right: 8px;
    }
  }
}
